<mat-card class="main" id="imgeUp">
  <mat-card-title class="txt" style="margin-top: 100px;">
    Skift password
  </mat-card-title>
  <mat-card-content class="container">
    <form [formGroup]="redigerPWForm"  class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Indtast det gamle password</mat-label>
        <input matInput formControlName="OldPW" [(ngModel)]="chPW.OldPW" placeholder="Password" type="password" required>
        <mat-error>
          udfyld med gamle password
      </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Indtast det nye password</mat-label>
        <input matInput formControlName="NewPW" [(ngModel)]="chPW.NewPW" placeholder="Password" type="password" required>
        <mat-error>
          udfyld med nye password
      </mat-error>
      </mat-form-field>
      <button mat-raised-button type="submit" (click)="onChangePw()" class="login-btn">Skift password</button>
      <a routerLink="/login/login" routerLinkActive="active"><span class="material-icons black-color">arrow_back</span></a>
    </form>
  </mat-card-content>
</mat-card>
