<mat-card class="main" id="imgeUp">
  <mat-card-content class="container">
    <mat-toolbar class="login-header" style="background: linear-gradient(rgb(192, 193, 194), rgb(231, 234, 236));">
        <button mat-raised-button
            style="background-color: rgb(124, 130, 136); width: 120px; height: 40px; margin-right: 10px;"
            (click)="onNulstilOpskrift()">Opret opskrift</button>
        <h1 class="centers">Opskrift katalog</h1>
    </mat-toolbar>
    <mat-grid-list cols="2" rowHeight="1:1" style="height: 100%; width: 100%;">
      <mat-grid-tile style="width: 50%;">
          <form [formGroup]="opskriftForm" class="example-form" style="justify-content: center;">
            <mat-form-field class="example-full-width centers" appearance="fill">
                <input matInput type="text" [(ngModel)]="opskrift.stepTwo" formControlName="stepTwo" placeholder="trin 2" class="input-control">
            </mat-form-field>
              <mat-form-field class="example-full-width centers" appearance="fill">
                  <input matInput type="text" [(ngModel)]="opskrift.stepOne" formControlName="stepOne" placeholder="trin 1" class="input-control">
              </mat-form-field>     
                            <mat-form-field class="example-full-width centers" appearance="fill">
                  <input matInput type="text" [(ngModel)]="opskrift.stepFour" formControlName="stepFour" placeholder="trin 4" class="input-control">
              </mat-form-field>  
              <mat-form-field class="example-full-width centers" appearance="fill">
                  <input matInput type="text" [(ngModel)]="opskrift.stepThree" formControlName="stepThree" placeholder="trin 3" class="input-control">
              </mat-form-field>   
              <mat-form-field class="example-full-width centers" appearance="fill">
                <select matNativeControl [(ngModel)]="opskrift.offentliggjort" formControlName="offentliggjort"
                    class="input-control">
                    <option [ngValue]="false">
                      Privat
                    </option>
                    <option [ngValue]="true">
                      Offentlig
                    </option>
                </select>
              </mat-form-field>
              <mat-form-field class="example-full-width centers" appearance="fill">
                <input matInput type="text" [(ngModel)]="opskrift.stepFive" formControlName="stepFive" placeholder="trin 5" class="input-control">
            </mat-form-field>
              <div>
                <button mat-raised-button type="submit" (click)="onAnuller()" class="login-btn" style="background: linear-gradient(#ec17d0, hsl(309, 85%, 51%));">Fortryd</button>
                <button mat-raised-button type="submit" (click)="onOpretOpskrift()" class="login-btn" style="background: linear-gradient(#84ba77, #6bac7b);">Gem opskrift</button>
              </div>
          </form>
      </mat-grid-tile>
      <mat-grid-tile style="width: 50%;">
          <app-ol-opskrift-liste></app-ol-opskrift-liste>
      </mat-grid-tile>
  </mat-grid-list>
        <!-- <table style="width: 100%; height: 100%; display: flex;">
        <mat-accordion class="example-headers-align" multi style="width: 100%;">
            <mat-expansion-panel style="margin-top: 10px; width: 40%;" *ngFor="let ol of opskriftliste" expanded="false"
                class="centers" hideToggle="true">
                <mat-expansion-panel-header
                    style="background: linear-gradient(rgb(192, 193, 194), rgb(231, 234, 236)); justify-content: center;">
                    <mat-panel-title class="centers" style="justify-content: center;">
                        <span class="titelStyle" style="margin-right: 10px;">Titel:</span>
                    </mat-panel-title>
                    <mat-action-row class="centers cards" style="justify-content: center;">
                        <button mat-button class="txtBtn" (click)="onOpdaterOpskrift(ol.id)">Rediger Opskrift</button>
                        <button mat-button class="txtBtn" (click)="onSletOpskrift(ol.id)">Slet opskrift</button>
                    </mat-action-row>
                </mat-expansion-panel-header>

            </mat-expansion-panel>
        </mat-accordion>
    </table> -->
  </mat-card-content>
</mat-card>

