<mat-card class="main" id="imgeUp" >
  <h1 class="txt">Indtast dine informationer her, for at bruge denne service</h1>
  <div class="container">
    <form [formGroup]="brugerFormGroup"  novalidate>
<mat-vertical-stepper>
      <mat-step [stepControl]="brugerFormGroup">
        <ng-template matStepLabel>Indtast Fornavn</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input matInput placeholder="Fornavn" formControlName="fnavn" [(ngModel)]="nyBruger.fnavn" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
      </mat-step>
        <mat-step [stepControl]="brugerFormGroup">
          <ng-template matStepLabel>Indtast Efternavn</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Efternavn</mat-label>
            <input matInput formControlName="enavn" placeholder="Efternavn" [(ngModel)]="nyBruger.enavn" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>
           <mat-step [stepControl]="brugerFormGroup">
            <ng-template matStepLabel>Indtast Adresselinje 1</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Adresselinje 1</mat-label>
            <input matInput formControlName="addresselinje1" placeholder="Gadenavn og Nummer" [(ngModel)]="nyBruger.addresselinje1" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step [stepControl]="brugerFormGroup">
          <ng-template matStepLabel>Indtast Adresselinje 2</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>Adresselinje 2</mat-label>
            <input matInput formControlName="addresselinje2" placeholder="Sal og Side" [(ngModel)]="nyBruger.addresselinje2"  >
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step [stepControl]="brugerFormGroup">
          <ng-template matStepLabel>Indtast PostNr</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>PostNr</mat-label>
            <input matInput formControlName="postnr" placeholder="Postnummer" [(ngModel)]="nyBruger.postnr" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step [stepControl]="brugerFormGroup">
          <ng-template matStepLabel>Indtast By</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>By</mat-label>
            <input matInput formControlName="by" placeholder="By" [(ngModel)]="nyBruger.by"  required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

        <mat-step [stepControl]="brugerFormGroup">
          <ng-template matStepLabel>Indtast E-mail</ng-template>
          <mat-form-field appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" placeholder="E-mail Addresse" [(ngModel)]="nyBruger.email" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </mat-step>

      <mat-step [stepControl]="brugerFormGroup">
        <ng-template matStepLabel>Indtast TelefonNr.</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>TelefonNr</mat-label>
          <input matInput formControlName="telefonNr" placeholder="Telefon nummer" [(ngModel)]="nyBruger.telefonNr" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext >Next</button>
        </div>
    </mat-step>

<!--       <mat-step [stepControl]="brugerFormGroup">
        <ng-template matStepLabel>Vælg Rolle</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>rolleNavn</mat-label>
          <select matNativeControl formControlName="rolleNavn" [(ngModel)]="nyBruger.rolleNavn">
            <option value="" selected></option>
            <option value="AnonymBruger">AnonymBruger</option>
            <option value="Bruger">Bruger</option>
          </select>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step> -->

      <mat-step [stepControl]="brugerFormGroup">
        <ng-template matStepLabel>Indtast din brugernavn</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>brugernavn</mat-label>
          <input matInput formControlName="brugernavn" placeholder="Brugernavn" [(ngModel)]="nyBruger.brugernavn" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </mat-step>

      <mat-step [stepControl]="brugerFormGroup">
        <ng-template matStepLabel>Indtast din Password</ng-template>
        <mat-form-field appearance="fill">
          <mat-label>Password</mat-label>
          <input matInput formControlName="pw" placeholder="Password" [(ngModel)]="nyBruger.pw" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext (click)="onOpretBruger()" type="submit">Next</button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <p>Du er færdig nu.</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <a routerLink="/login/login"><button mat-button style="color: black;">Back to login</button></a>
          <!-- <button mat-button (click)="stepper.reset()">Reset</button> -->
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </form>
  </div>
</mat-card>
