<mat-drawer-container class="example-container">
  <mat-drawer #drawer mode="side" opened class="main" id="imgeUp">
    <div class="sidebar">
      <h1 id="headerStyle">Profil Side</h1>
      <img [src]="this.url" alt="" style="width: 20%; height: 20%;">
      <button class="btnStyle" (click)="visFillerP = !visFillerP">Vis Kontaktoplysninger</button>
      <button class="btnStyle" (click)="visFillerB = !visFillerB" [disabled]="this.visB">Vis Bryggeri Oplysninger</button>
      <button class="btnStyle" (click)="visFillerOB= !visFillerOB" [disabled]="this.visOB">Opret Bryggeri</button>
      <button class="btnStyle" (click)="visOffentlig= !visOffentlig">Offentlig Profil</button>
       <button class="btnStyle"  (click)="logud()" >Log Ud</button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="main" id="imgeUp" *ngIf="brugerListe" style="width: 100%;">
    <mat-card *ngIf="visFillerP" style="width: 40%;" class="centers">
      <mat-card-content>
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Kontaktoplysninger
              </mat-panel-title>
              <mat-panel-description>
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
              <mat-card class="containStyle centers" style="width: 100%;">
                <span style="font-weight: bold; margin: 30px; color: black;">Fornavn:</span>
                <span class="txtStyle">{{brugerListe.kontaktoplysninger.fnavn}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 100%;">
                <span style="font-weight: bold; margin: 30px; color: black;">Efternavn:</span>
                <span class="txtStyle">{{brugerListe.kontaktoplysninger.enavn}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 100%;">
                <span style="font-weight: bold; margin: 30px; color: black;">Addresselinje1:</span>
                <span class="txtStyle">{{brugerListe.kontaktoplysninger.addresselinje1}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 100%;">
                <span style="font-weight: bold; margin: 30px; color: black;">Addresselinje2:</span>
                <span class="txtStyle">{{brugerListe.kontaktoplysninger.addresselinje2}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 100%;">
                <span style="font-weight: bold; margin: 30px; color: black;">Telefonnummer:</span>
                <span class="txtStyle">{{brugerListe.kontaktoplysninger.telefonNr}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 100%;">
                <span style="font-weight: bold; margin: 30px; color: black;">Email:</span>
                <span class="txtStyle">{{brugerListe.kontaktoplysninger.email}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 100%;">
                <span style="font-weight: bold; margin: 30px; color: black;">Postnummer:</span>
                <span class="txtStyle">{{brugerListe.kontaktoplysninger.postnr}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 100%;">
                <span style="font-weight: bold; margin: 30px; color: black;">By:</span>
                <span class="txtStyle">{{brugerListe.kontaktoplysninger.by}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 100%;">
                <span style="font-weight: bold; margin: 30px; color: black;">Brugernavn:</span>
                <span class="txtStyle">{{brugerListe.brugernavn}}</span>
              </mat-card>
              <mat-card class="containStyle centers" style="width: 100%;">
                <span style="font-weight: bold; margin: 30px; color: black;">Rolle:</span>
                <span class="txtStyle">{{brugerListe.rolle.rolleNavn}}</span>
              </mat-card>
              <mat-action-row>
                <button mat-button color="primary" (click)="onOpdaterProfil()" class="btnMainStyle">Rediger Profil</button>
                <button mat-button color="primary" (click)="onSkiftPassword()" class="btnMainStyle">Skift Password</button>
                <button mat-button color="primary" (click)="onSletProfil()" class="btnMainStyle">Slet Profil</button>
              </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="visFillerB" style="width: 40%;" class="centers">
      <mat-card-content>
        <mat-accordion class="example-headers-align" multi *ngIf="bryggeriListe">
          <mat-expansion-panel hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Bryggeri Oplysninger
              </mat-panel-title>
              <mat-panel-description>
                <mat-icon>work</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>

            <mat-card class="containStyle centers" style="width: 100%;">
              <span style="font-weight: bold; margin-right: 20px; color: black;">Logo:</span>
              <span class="txtStyle"><img [src]="this.bryggeriListe.bryggeriLogo" alt=""
                  style="width: 20%; height: 20%;"></span>
            </mat-card>
            <mat-card class="containStyle centers"  style="width: 100%;">
              <span style="font-weight: bold; margin-right: 20px; color: black;">Navn:</span>
              <span class="txtStyle">{{bryggeriListe.navn}}</span>
            </mat-card>
            <mat-card class="containStyle centers"  style="width: 100%;">
              <span style="font-weight: bold; margin-right: 20px; color: black;">Beskrivelse:</span>
              <span class="txtStyle">{{bryggeriListe.beskrivelse}}</span>
            </mat-card>
            <mat-action-row>
              <button mat-button color="primary" (click)="onOpdaterBryggeri()" class="btnMainStyle">Rediger Bryggeri</button>
              <button mat-button color="primary" (click)="onSletBryggeri()" class="btnMainStyle">Slet Bryggeri</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="visFillerOB" style="width: 40%;" class="centers">
      <mat-card-content>
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Opret Bryggeri
              </mat-panel-title>
              <mat-panel-description>
                <mat-icon>work</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="bryggeriOprettelsesForm" novalidate class="containStyle centers" style="width: 80%;">
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Logo</mat-label>
                <input matInput placeholder="Billed" formControlName="bryggeriLogo"
                  [(ngModel)]="nytBryggeri.bryggeriLogo">
                <input type="file" class="btnMainStyle" (change)="onSubmitProfilBilled($event)">
              </mat-form-field>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Navn</mat-label>
                <input matInput placeholder="Navn" formControlName="navn" [(ngModel)]="nytBryggeri.navn" required>
                <mat-error>
                  Udfyld felt
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Beskrivelse</mat-label>
                <input matInput placeholder="Beskrivelse" formControlName="beskrivelse"
                  [(ngModel)]="nytBryggeri.beskrivelse">
              </mat-form-field>
            </form>
            <mat-action-row>
              <button mat-button color="primary" (click)="onClose()" class="btnMainStyle">Fortryd</button>
              <button mat-button color="primary" (click)="onOpretBryggeri(); $event.stopPropagation()"
                class="btnMainStyle">Opret Bryggeri</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
    <mat-card *ngIf="visOffentlig" style="width: 40%;" class="centers">
      <mat-card-content>
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel hideToggle="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Profil Status
              </mat-panel-title>
              <mat-panel-description>
                <mat-icon>account_circle</mat-icon>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <form [formGroup]="ChangeOffentligStatusForm" novalidate class="containStyle centers" style="width: 80%;">
               <mat-form-field appearance="fill" class="example-full-width">
                <mat-label>Offentlig Status(false/true)</mat-label>
                <input matInput placeholder="{{brugerListe.kontaktoplysninger.offentlig}}" formControlName="offentligStatus" [(ngModel)]="brugerListe.kontaktoplysninger.offentlig" required>
              </mat-form-field>
            </form>
            <mat-action-row>
              <button mat-button color="primary" (click)="onChangeStatus()" class="btnMainStyle">Skift Status</button>
            </mat-action-row>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </mat-drawer-content>
</mat-drawer-container>
